body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #787878;
    /*line-height: 30px;*/
  text-align: center;
  background-color: #ffffff;
}

strong {
  font-weight: 500;
}
p strong {
  font-size: 16px;
  color: #333;
}
a, a:hover, a:focus {
  color: #4aaf51;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #4aaf51;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #4aaf51;
  color: #fff;
  text-shadow: none;
}

button.btn a {
  color: #fff;
}

.btn-link {
  color: #787878;
  text-decoration: underline;
}

.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 16px 20px 0 20px;
  background: #4aaf51;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

.btn-link-1.btn-link-1-facebook {
  background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
  background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
  background: #dd4b39;
}

.btn-link-1 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus {
  outline: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.btn-update {
  margin-top: 10px;
}

/***** Top content *****/

.inner-bg {
  /*padding: 35px 0 40px 0;*/
  padding: 0px 0 40px 0;
}

.page-height {
  min-height: 600px;
}

.top-content .text {
  color: #fff;
}

.F-bold {
  font-weight: bold;
}

.top-content .text h1 {
  color: #fff;
}

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
}

.top-content .description a {
  color: #fff;
}

.top-content .description a:hover, 
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.form-box {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #414042;
	/*-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;*/
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 {
  margin-top: 0;
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #f7f7f7;
	/*-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;*/
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
	/*width: 100%;*/;
}

.form-bottom form .input-error {
  border-color: #4aaf51;
}

.social-login {
  margin-top: 35px;
}

.social-login h3 {
  color: #fff;
}

.social-login-buttons {
  margin-top: 25px;
}

/* Custom */
.logo-heading {
  padding: 20px 10px 0px 10px;
}

.logo-para {
  text-align: justify;
  color: #fff;
  padding: 10px 20px 0px 20px;
}

.forget .btn {
  padding: 0px;
}

.forget {
  text-align: right;
}

.register p {
  padding-top: 10px;
  text-align: center;
  border-top: 1px #c49e56 solid;
}

.register {
  padding-top: 10px;
}

.register .btn {
  font-size: 20px;
  color: #c49e56;
  text-decoration: underline;
}

.navbar-inverse {
  background-color: #414042;
}

.navbar {
  min-height: 100px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #c49e56;
  background-color: initial;
}

.navbar-nav {
  margin: 23px 40px;
  font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active {
  color: #c49e56;
}

.footer-bottom {
  background: #414042;
  color: #fff;
  border-top: 1px solid #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.head_2 {
  text-align: left;
  color: #414042;
  font-weight: 400;
  margin-left: 30px;
  padding-bottom: 20px;
}

#form-message {
  height: 120px;
  padding-bottom: 80px;
}

.cart-logo {
  width: 35px;
  position: absolute;
  top: 9px;
}
thead {
  background-color: #fff;
}


.table-striped thead {
  background-color: #414042;
  color:#fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  /*background-color: #F9F4EE;*/
  background-color: #F8F8F8;
}

.table-striped>tbody>tr:nth-of-type(even) {
  /*background-color: #FCF8F5;*/
  background-color: #F0F0F0;
}

tr {
  height: 60px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 20px;
  text-align: center;
  border-top: none;
}

.table>thead>tr>th {
  border-bottom: none;
}

.eye {
  width: 30px;
  height: 30px;
}

.fix-left-right {
  padding-left: 30px;
  padding-right: 30px;
}

td:nth-child(2), th:nth-child(2) {
  text-align: left !important;
  width: 48%;
}

.total h2 {
  font-size: 30px;
  color: #c49e56;
  font-weight: 400;
  text-align: right;
}

#ribbon-container, #ribbon-container-green {
	/*top: -20px;*/
  left: -30px;
}

#ribbon-container-menus, #ribbon-container-menus-green {
  top: -20px;
  left: -45px;
}

.mobile-ribbon {
	display: none;
}

.menuItemsRow {
	padding: 3%;
}

.menuFooterRow {
	background-color: #f0f0f0;
	height: 50px;
	margin-top: 4%;
	line-height: 50px;
}

.footerNote {
	float: left;
	padding-left: 3%;
	line-height: 50px;
  background-color: #E8E8E8;
  text-align: left;
  margin-top: 20px;
}

.footerCompletion {
	float: right;
	padding-right: 3%;
	font-size: 20px;
	height: 50px;
	text-align: right;
	line-height: 50px;
  margin-top: 20px;
  background-color: #E8E8E8;
}
}
.footerCompletion>.custom-checkbox {
	margin-top: 16.5px;
	float:right;
}

.plusSignDiv {
	width: 4.1666667%;
}

.menuItemDiv {
	padding: 0 !important;
	background-color: #ffffff;
}

.menuItemDiv .menuItemCategoryName {
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	font-size: 14px;
	width: 80%;
	float: left;
  color: #a8a8a8;
  margin-bottom: 5px;
}

.menuItemDiv .menuItemName {
	text-align: left;
	font-style: normal;
	padding-left: 10px;
	font-size: 14px;
	padding-bottom: 10px;
	width: 80%;
	float: left;
  font-weight: normal !important;
  color: #707070;
  line-height: normal;
}

.noCheck>.menuItemCategoryName, .noCheck>.menuItemName {
	width: 100%;
}

.checkboxDiv {
	float: right;
	width: 16%;
}

.menuhead p {
  text-align: left;
}

.menuhead {
  margin-bottom: 50px;
}

.btn-menu {
  float: right;
  padding: 0px;
}

.fa-calendar {
  padding-right: 10px;
}

.section-down {
  margin-bottom: 50px;
  height: 100%;
  background-color: #f7f7f7;
  padding: 3% 2% 2% 2%;
}

.copyright {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  padding-right: 15px;
  float: left;
  padding-left: 15px;
}

.design {
  color: #fff;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: right;
}

.design a {
  color: #fff;
}

.dishpad {
  padding-left: 0px;
}

.smallpad {
  margin-top: 30px;
  padding-left: 0px;
}

.img-marg {
  margin: 0 auto;
  margin-bottom: 20px;
}

.menubottom h4 {
  text-align: left;
  padding-left: 15px;
  color: #c49e56;
}

.menuitemfont {
  font-size: 30px;
  font-weight: 400;
}

.menubottom {
  margin-top: -15px;
  margin-bottom: 20px;
}

.paytext {
  font-size: 14px;
  font-weight: 600;
}

.paysection-2 {
  border-top: 1px #f7f7f7 solid;
}

.paysection-2 h4 {
  margin-bottom: -5px;
}

.paysection-3 {
  margin-top: 21px;
  border-top: 1px #d3d3d3 solid;
}

.paysection3text {
  font-size: 13px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: center;
}

.paytotalh2 {
  text-align: center;
  font-size: 24px;
}

.fa {
  padding-right: 5px;
  padding-left: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

select.form-username.form-control {
  height: 50px !important;
  padding: 0 20px !important;
  color: #888 !important;
  background: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-appearance: menu-item;
  line-height: 50px;
}

.payment-img {
  padding-left: 10px;
}

.multi-pad {
  padding-left: 0px;
}

div.top-content {
  padding-bottom: 30px;
  min-height: 100%;
}

.basketitems {
  color: #fff;
  font-size: 14px;
  background-color: #c49e56;
  position: absolute;
  top: 50px;
  left: 50px;
  -webkit-transform: translate(-50%,-90%);
  -moz-transform: translate(-50%,-90%);
  transform: translate(-50%,-90%);
  padding: 1px 8px;
  border-radius: 100px;
}

.clear-pad {
  padding-left: 45px;
  padding-right: 30px;
}

.menu-img {
  width: 200px;
  /*height: 80px;*/
}

.img-plus {
  padding-top: 30px;
}

.select-menu {
  height: 35px;
  width: 100px;
  padding: 5px;
  border-color: #c49e56;
  margin-top: 5px;
}

.doublemenu {
  margin-bottom: 15px;
}

.pagination>li>a, .pagination>li>span {
  color: #414042;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #414042;
  background-color: #c49e56;
  border-color: #c49e56;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* Added by JR */
.logo-para h3 {
  color: #fff;
  text-align: center;
}

.error {
  display: none;
  color: red;
}

a.discard_links, a.discard_links:hover {
  cursor: default !important;
  color: #fff !important;
}

.eyecon {
  color: #414042;
}
/* End */
html {
  position: relative;
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body {
  margin: 0;
  padding: 0;
}

.footer-fixed {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* Added by Mr. Jeeva */
.disable_menus {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 85%;
  background: #f7f7f7;
  z-index: 3;
  opacity: 0.7;
}

.text-green {
  color: #c49e56 !important;
}

.border-green, .multi-pad-border-green button.multiselect {
  border: 1px solid #c49e56;
}

.title-aligned {
  text-align: left;
}

button.multiselect {
  /*width: auto;*/
  width: 132px;
  overflow-x: hidden;
  height: 30px !important;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#order_total h3 {
  color: #c49e56 !important;
  font-size: 25px;
  text-align: right;
}

p.today_menu_expired {
  color: red;
}

td.new.day.menuAvailable, td.old.day.menuAvailable, td.day.menuAvailable {
  color: #c49e56;
  font-weight: bold;
}

td.new.active.day.menuAvailable, td.old.active.day.menuAvailable {
  color: white;
}

.custom-checkbox {
}
.mob-hide {
	display:show;
}
.mob-show {
	display:none;
}
.dishCheckbox {
  padding-top: 10px;
}
.dropdown-menu {
  min-width: 130px;
}
.datepicker table {
  width: 250px;
}
/***** Media queries *****/
@media (min-width: 1199px) {
  .col-my-2 {
    width: 12%;
  }

  .col-my-3 {
    width: 14%;
  }

  .col-my-4 {
    width: 18%;
  }

  .col-my-offset-4 {
    margin-left: 30%;
  }

  .dishName {
    position: relative;
    right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 992px) {
	.mobile-ribbon {
		display: block;
		height: 40px;
		background-color: #414042;
		line-height: 40px;
		font-size: 18px;
		color: #ffffff;
	}
	
	.mobile-ribbon a {
		color: #ffffff;
	}
	
	.sencer_fix {
		padding-left: 40px !important;
		text-align: center;
	}
	
	.menu-img {
		width: 100%;
		height: 200px;
	}
	.plusSignDiv {
		display: none;
	}
	
	.menuItemsRow {
		padding: 0;
	}
	
	.menuItemDiv {
		border-bottom: 2px #303030 solid;
		background-color: #f0f0f0;
		height: 300px;
	}
	
	.sectionForMobile {
		background-color: #f0f0f0;
	}
	
	.menuItemDiv .menuItemCategoryName {
		height: 50px;
		line-height: 50px;
	}
	.menuItemDiv .menuItemName {
		height: 50px;
	}
	.checkboxDiv {
		
	}
	.checkboxDiv .box {
		width: 34px;
		height: 34px;
		background-color: #f0f0f0;
	}
	.custom-checkbox input {
		width: 32px;
		height: 32px;
	}
	.custom-checkbox>.box>.tick {
		left: 4px;
		top: 8px;
		width: 22px;
		height: 10px;
	}
	
	.menuFooterRow {
		height: 100px;
		background-color: #f0f0f0;
		margin-top: 4%;
		line-height: 50px;
		text-align: center;
	}
	
	.menuLineBreak {
		display: block;
	}

	.footerNote {
		float: none !important;
		text-align: center;
		background-color: #f0f0f0;
    line-height: normal;
    padding-top:10px;
    margin-top: 0px;
	}

	.footerCompletion {
		text-align: center;
		float: none;
		padding-right: 3%;
		font-size: 20px;
		height: 50px;
		margin: auto;
		background-color: #f0f0f0;
	}
	
	.footerCompletion>.custom-checkbox {
		/*right: 30px;
		bottom: 10px;
		float: right;*/
		top: 5px;
	}
	
	.footerCompletion .box {
		width: 34px;
		height: 34px;
		background-color: #f0f0f0;
	}
	
	.footerCompletion>.custom-checkbox input {
		width: 32px;
		height: 32px;
	}
	
	.respo_cart {
    display: none;
  }
  .basketitems {
    top: 175%;
    left: 140%;
  }

  .ribbon-fix {
	  display: none;
  }

  .menu-plus {
    font-size: 30px !important;
    color: #c49e56;
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .pad-R {
    padding-right: 40px;
  }

  .menu-desc {
    text-align: left !important;
    font-size: 12px !important;
    clear: both;
  }

  .sencer_fix {
    float: right;
  }

  div.top-content {
    padding-bottom: 60px !important;
  }
	.dishpad {
		padding-bottom: 20px;
	}
	.dishCheckbox {
		position: absolute !important;
		bottom: 0px !important;
		/*padding-left: 35%;*/
	}
	
}


@media (max-width: 768px) {
	
  .col-sm-2 {
    padding-right: 0 !important;
  }

  .menuhead p {
    text-align: center;
  }

  .smallpad {
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .smallpad span {
    margin: auto;
    text-align: center;
  }

  .head_2 {
    margin: auto;
  }

  .dishpad {
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .dishpad span {
    margin: auto;
    text-align: center;
  }

  button.btn {
    padding: 0% 10%;
  }

  .res-button-spacing {
    margin-bottom: 10px;
  }

  .inner-bg {
    padding: 60px 0 110px 0;
  }

  .form-bottom {
    margin-bottom: 60px;
  }

  .inner-bg {
    padding: 0px;
  }

  .backstretch {
    display: none;
  }

  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px !important;
  }

  .btn-menu {
    float: none;
    padding: 0px;
  }

  .menuitemfont {
    float: none;
  }

  .navbar-brand {
    float: none;
  }

  .navbar-brand>img {
    margin: 0 auto;
  }

  .navbar-toggle {
    float: left;
    left: 15px;
    top: 25px;
  }

  .navbar-inverse .navbar-toggle {
    border: none;
  }

  .respo_cart {
    display: block;
    right: 30px;
    top: 25px;
  }
  .respo_cart_count {
    display: block;
  }

  .desk_cart {
    display: none;
  }

  .head_2 {
    text-align: center;
  }

  .p_respocenter p {
    text-align: center;
  }

  
  .menu-plus {
    font-size: 30px !important;
    color: #c49e56;
    position: absolute;
    bottom: -35px;
    left: calc(50% - 7px);
  }

  .smallpad {
    margin-bottom: 40px;
  }

  .dishpad {
    margin-bottom: 40px;
  }

  .custom-checkbox > .box-brown {
		/*margin: 0 auto;*/;
  }

  .custom-checkbox >  .box {
		/*margin: 0 auto;*/;
  }

  .menu-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .menu-desc {
    text-align: center;
    font-size: 12px;
  }

  div.top-content {
    padding-bottom: 120px !important;
  }
  .basketitems {
    top: 65%;
    left: 95%;
  }
}

@media all and (orientation:portrait) {
	
  /*.col-sm-offset-2 {
    margin-left: 0px;
  }*/
}

@media (min-width: 450px) and (max-width: 768px) {
	
  h1, h2 {
    font-size: 32px;
  }

  div.top-content {
    padding-bottom: 180px !important;
  }
  #ribbon-container, #ribbon-container-green {
    top: -20px;
  }
}

@media (max-width: 449px) {
		.mob-hide {
		display:none !important;
	}
	.mob-show {
		display:block; !important;
	}
  .basketitems {
    top: 65%;
    left: 92%;
  }
  h1, h2 {
    font-size: 32px;
  }

  div.top-content {
    padding-bottom: 220px !important;
  }
  #ribbon-container, #ribbon-container-green {
    top: -20px;
  }
}

@media (max-width: 400px) {
	.mob-hide {
		display:none !important;
	}
	.mob-show {
		display:block; !important;
	}
  h1, h2 {
    font-size: 32px;
  }

  div.top-content {
    padding-bottom: 280px !important;
  }

  .container {
    padding: 0 !imporant;
  }

  .fix-left-right {
    padding: 0 !important;
  }

  .navbar-header {
    width: 100%;
  }
  #ribbon-container, #ribbon-container-green {
    top: -20px;
  }
}
